# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
.env
*.env

# VS Code / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations
#*/migrations/*.py
#!*/migrations/__init__.py

# Virtual env
venv/
env/
